<h2>Login Page</h2>
      <.input name="username" value="" type="email" />
      <.input name="password" value="" type="password" errors={["oh no!"]} />


      <.simple_form for={@form} phx-change="validate" phx-submit="save">
        <.input field={@form[:username]} label="Email"/>
        <.input field={@form[:password]} label="Password" />
        <:actions>
          <.button>Save</.button>
        </:actions>
      </.simple_form>